.header{
    display: "flex";
    align-items: 'center';
    max-width: '100%';
    justify-content: 'space-between';
    background: '#020202';
    padding: '1rem 0 1rem 0';
}
.logo{
    margin-left: '3rem';
    color: '#ce0037';
}
.menu-list{
    display: "flex";
    align-items: 'center';
    list-style: 'none';
    gap: '3rem';
    color: '#ce0037';
    margin-left: '5rem';
    margin-right: '3rem';
}
.registration{
    width: 18;
    color: '#ce0037';
    margin-left: '5rem';
    text-decoration: 'none';
}